.about-jumbo {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px;
}

.about-jumbo-header {
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: white;
  background-color: black;
  width: fit-content;
  line-height: 0.5;
  transition: 0.2s;
  cursor: pointer;
}

.about-jumbo-header:hover {
  line-height: 0.8;
}

.about-jumbo-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 20px;
  width: 200px;
  background-color: transparent;
  cursor: pointer;
}

.about-profile-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-profile-img {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  background-color: white;
}

.about-company-name {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0px;
  color: white;
}

.about-company-rep {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  margin: 0px;
  color: white;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  height: 100%;
}

.about-content-text {
  width: 80%;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  text-align: justify;
  text-justify: distribute-all-lines;
  color: black;
}

.about-spec-header {
  font-size: 35px;
  color: #903;
  background-color: gray;
}

.about-first-letter {
  color: #903;
  float: left;
  font-family: Georgia;
  font-size: 60px;
  line-height: 50px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.about-specializations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  flex-wrap: wrap;
  height: auto;
}

.about-spec-list {
  list-style-type: square;
}

.about-spec-list-item {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  color: black;
  line-height: 2;
}

@media only screen and (max-width: 768px) {
  .about-first-letter {
    font-size: 40px;
  }

  .about-jumbo-header {
    font-size: 40px;
  }
  .about-spec-header {
    font-size: 25px;
  }

  .about-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-content-text {
    font-size: 17px;
    width: 90%;
  }
  .about-spec-list-item {
    font-size: 17px;
  }

  .about-specializations {
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
  }
}
