.contact-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
}

.contact-input {
  width: 70%;
  margin: 20px;
}

.contact-address {
  width: 30%;
  background-color: gray;
  height: 100%;
  padding: 20px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 79, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.contact-btn {
  height: 40px !important;
  width: 250px !important;
  margin-top: 10px !important;
  background-color: #d04c3f !important;
  color: white !important;
}


.tick {
  display: inline;
  color: red;
}

.contact-textbox {
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-textbox::placeholder {
  opacity: 1;
}

.contact-address-info {
  color: black;
  font-family: "Open Sans", sans-serif;
  width: 80%;
  font-size: 15px;
}

.contact-text {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 12.5px;
}

@media only screen and (max-width: 868px) {
  .contact-container {
    flex-direction: column;
    height: 100%;
  }

  .contact-input {
    width: 100%;
    margin: 0;
    padding: 30px;
  }
  .contact-address {
    width: 100%;
    padding: 30px;
    margin: 0;
  }
  .contact-header {
    font-size: 26px;
  }
  .contact-textbox {
    width: 100%;
  }
  .contact-btn {
    width: 100% !important;
  }
}
