.nav-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black !important; 
  height: 45px !important; 
  padding-left: 10px !important;
  position: fixed;
  z-index: 1;
}
