.partners-container {
  background-color: black;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
}

.partners-header {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: white;
}

.partners-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.partners-img{
  transition: 0.2s;
  cursor: pointer;
}
.partners-img:hover {
  transform: scale(1.08);
  border: 0;
}

@media only screen and (max-width: 768px) {
  .partners-logos {
    width: 90%;
  }
}
